/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.CopyComplete
/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.CoreCompileInputs.cache
/VcsWebdriver/obj/Debug/VcsWebdriver.csproj.FileListAbsolute.txt
/VcsWebdriver/obj/Debug/VcsWebdriver.csprojAssemblyReference.cache
/VcsWebdriver/obj/Debug/VcsWebdriver.dll
/VcsWebdriver/obj/Debug/VcsWebdriver.pdb
